---
import '../components/ui/button.css'
const apps = (await import('../data/pages-index.json')).default;
---

<style>
.personal-projects-links {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1vh;
    }
        
</style>

<div class="personal-projects-links"> 
    <a class="boton-links" href={`/apps${apps[0].path}`}><strong>{apps[0].title}</strong></a>
    <a class="boton-links" href={`/apps${apps[1].path}`}><strong>{apps[1].title}</strong></a>
    <a class="boton-links" href={`/apps${apps[2].path}`}><strong>{apps[2].title}</strong></a>
    <a class="boton-links" href={`/apps${apps[3].path}`}><strong>{apps[3].title}</strong></a>
    <a class="boton-links" href="https://francomoreira.github.io/projects/sticky-menu-fixed/"><strong>Sticky Menu</strong></a>
    <a class="boton-links" href="https://francomoreira.github.io/projects/Palindrome-Checker/"><strong>Palindrome Checker</strong></a>
    <a class="boton-links" href="https://codepen.io/francomoreira/pen/QWmdvoE"><strong>Switch - Light & Dark</strong></a>
    <a class="boton-links" href="https://calculate-delay-time.netlify.app/"><strong>Delay Tempo Calculator</strong></a>
    <a class="boton-links" href="https://francomoreira.github.io/projects/API-rest-Random-Cat/"><strong>API Rest - Random Cats</strong></a>
    <a class="boton-links" href="https://codepen.io/francomoreira/pen/ZEqLZxV"><strong>Flex: Wrap</strong></a>
    <a class="boton-links" href="https://teeny-berry.surge.sh/"><strong>Cards 1</strong></a>
    <a class="boton-links" href="https://hallowed-toys.surge.sh/"><strong>Cards 2 - FakeStore API & Fetch</strong></a>
    <a class="boton-links" href="https://dear-board.surge.sh/"><strong>ToDo App - React</strong></a>
    <!-- <a class="boton-links" href="#"><strong>exampler</strong></a>
    <a class="boton-links" href="#"><strong>exampler</strong></a> -->

</div>